watch_file flake.nix
watch_file flake.lock
watch_file backend/pyproject.toml
watch_file backend/uv.lock
watch_file frontend/package.json
watch_file frontend/package-lock.json
watch_file .env

use flake
dotenv_if_exists .env
